.JobPostWrapper {
    width: 100%;

    .post-job-form {
        display: flex;
        flex-direction: column;

        input, textarea, select {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}
