@import './assets/scss/main.scss';

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; 
}

.App-header {
  background-image: url(./assets/pool.jpg);
  height: 90vh;
  background-size: cover;
  background-position: top;
  position: relative;
  color: $dark;

  & .app-title {
    color: $dark;
    font-size: 5rem;
    font-weight: 600;

    position: absolute;
    top: 75%;
    left: 10%;
  }

  & .signin-status {
    position: absolute;
    top: 90%;
    left: 10%;
    font-size: 2rem;
  }
}

.ui.button {
  margin: 10px;
}

.home-button {
  grid-column: 1;
  border: 3px solid black;
  width: auto;
  font-size: 25px;
}

.home-grid {
  display: flex;
  justify-content: space-between;
  width: 60%;

  margin-left: 20%;
}

.home-grid a {
  padding: 20px;
}

.login-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
