*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; 
}

.App {
  text-align: center;
}

.App-header {
  background-color: #575a5f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  display: flex;
  flex-direction: column;
}

.ui.buttons {
    margin-top: 15px;
}

.ui.button {
    margin-top: 15px;
}

